{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="text-center mt-4 border-bottom border-primary border-3 mb-4">
            <h1>Projects</h1>
        </div>
    <div class="mb-3">
    {% include 'partial/simole_search.html' with form=search_form %}
    </div>
        {% for project in projects %}
            <div class="col-12 col-md-4 mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ project.start_date }}</h6>
                        <a href="{% url 'project_detail' project.pk %}" class="btn btn-outline-primary">Detail</a>
                        <a href="{% url 'project_update' project.pk %}" class="btn btn-outline-success">Update</a>
                        <a href="{% url 'project_delete' project.pk %}" class="btn btn-outline-danger">Delete</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No project</p>
            <p>You can create the first project</p>
        {% endfor %}
    </div>
    {% if is_paginated %}
        <div class="text-center">
            {% include 'partial/pagination.html' %}
        </div>
    {% endif %}
{% endblock %}