{% extends 'base.html' %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'webapp:project_add' %}">Create project</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'webapp:task_add' project.pk %}">Create task</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'webapp:project_users' project.pk %}">Changing
            users</a>
    </li>
{% endblock %}


{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-8">
                <p>Название - {{ project.name }}</p>
                <p>Подробное описание - {{ project.description }}</p>
                <p>Дата начала - {{ project.start_date }}</p>
                {% if project.end_date %}
                    <p>Дата конца - {{ project.end_date }}</p>
                {% endif %}
            </div>

            <div class="col-md-4">
                <p>Пользователи проекта:</p>
                {% for user in project.user.all %}
                    <p>{{ user.username }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="text-center mt-4 border-bottom border-warning border-3 mb-4">
            <h1>Tasks</h1>
        </div>

        <div class="row mt-3">
            {% for task in project.project_tasks.all %}
                <div class="col-12 col-md-4 col-lg-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ task.description }}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{ task.status.name }}</h6>
                            <p class="card-text">{{ task.created_at }}</p>
                            <a href="{% url 'webapp:task_detail' task.pk %}" class="btn btn-outline-primary">Detail</a>
                            <a href="{% url 'webapp:task_update' task.pk %}" class="btn btn-outline-success">Update</a>
                            <a href="{% url 'webapp:task_delete' task.pk %}" class="btn btn-outline-danger">Delete</a>
                        </div>
                    </div>
                </div>

            {% empty %}
                <div class="text-center">
                    <p>No task</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}